covid_19/.ipynb_checkpoints
random/env
random/matplotlib/.ipynb_checkpoints
random/numpy/.ipynb_checkpoints
random/pandas/.ipynb_checkpoints
stocks/env
stocks/.ipynb_checkpoints
time_series_course/.ipynb_checkpoints
time_series_course/env